<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New item</title>
    <link rel="stylesheet" href="http://localhost:63342/demo/templates/styles/createStyle.css">
</head>
<body>
<header>
    <div class="logo">
        <a class="logo" href="items.html">
            <img src="http://localhost:63342/demo/templates/static/img/Frame 4.svg"  alt="logo"></a>
    </div>
    <div class="header-buttons">
        <button type="button" onclick="getAllItems()">All items</button>
        <button type="button" onclick="addNewItem()">Add new item</button>
    </div>
    <div class="profile">
        <a class="profile" href="http://localhost:8080/user/my-info">
            <img src="http://localhost:63342/demo/templates/static/img/Vector.svg" alt="profile"></a>
    </div>
</header>
<div class="container">
    <h2>Creation a new item</h2>
    <form id="itemForm">
        <input type="text" id="name" name="name" placeholder="Name">
        <input type="text" id="description" name="description" placeholder="Description">
        <input type="text" id="price" name="price" placeholder="Price">
        <select id="category" name="category">
            <option value="clothing">Clothes</option>
            <option value="electronics">Electronics</option>
            <option value="home">Home staff</option>
            <option value="hobby">Hobby</option>
        </select>
        <input type="text" id="wantedItem" name="wantedItem" placeholder="Wanted Item">
        <input type="submit" value="Submit">
    </form>
</div>
<script src="http://localhost:63342/demo/templates/js/createFunctions.js"></script>
<script src="http://localhost:63342/demo/templates/js/validator.js"></script>

</body>
</html>
