<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Items</title>
    <link rel="stylesheet" href="http://localhost:63342/demo/templates/styles/itemsStyle.css">
</head>
<body>
<header>
    <div class="logo">
        <a class="logo" href="items.html">
            <img src="http://localhost:63342/demo/templates/static/img/Frame 4.svg" alt="logo"></a>
    </div>
    <div class="header-buttons">
        <button type="button" onclick="addNewItem()">Add new item</button>
    </div>
    <div class="profile">
        <a class="profile" href="http://localhost:8080/user/my-info">
            <img src="http://localhost:63342/demo/templates/static/img/Vector.svg" alt="profile"></a>
    </div>
</header>
<div class="search-bar">
    <input type="text" id="searchInput" class="search-input" placeholder="What do you find...">
    <button class="search-button" onclick="searchItems()" type="submit">
        <img src="http://localhost:63342/demo/templates/static/img/search_svgrepo.com.svg" alt="Search Icon">
    </button>
</div>
<div class="category-container">
    <div class="category" data-category="clothing" onclick="selectCategory('clothing')">Clothes</div>
    <div class="category" data-category="electronics" onclick="selectCategory('electronics')">Electronics</div>
    <div class="category" data-category="home" onclick="selectCategory('home')">Home staff</div>
    <div class="category" data-category="hobby" onclick="selectCategory('hobby')">Hobby</div>
</div>
<div th:each="item, itemIndex : ${items}" class="item-card">
    <div class="item-header">
        <h2><span th:text="${item.getName()}"></span></h2>
        <p>$<span th:text="${item.getPrice()}"></span></p>
    </div>
    <div class="item-details">
        <p><strong>Description: </strong><span th:text="${item.getDescription()}"></span></p>
        <p><strong>Exchange item: </strong><span th:text="${item.getWantedItem()}"></span></p>
        <p><strong>Category: </strong><span th:text="${item.getCategory()}"></span></p>
    </div>
    <button class="send-offer-button" th:onclick="'updateItem(' + ${item.id} + ')'">Send offer to exchange</button>
</div>

<script src="http://localhost:63342/demo/templates/js/getItems.js"></script>
</body>
</html>
