<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
    <link rel="stylesheet" href="http://localhost:63342/demo/templates/styles/userProfile.css">

</head>
<body>
<header>
    <div class="logo">
        <a class="logo" href="items.html">
            <img src="http://localhost:63342/demo/templates/static/img/Frame 4.svg" alt="logo"></a>
    </div>
    <div class="header-buttons">
        <button type="button" onclick="getAllItems()">All items</button>
        <button type="button" onclick="addNewItem()">Add new item</button>
    </div>
    <div class="profile">
        <a class="profile" href="http://localhost:8080/user/my-info">
            <img src="http://localhost:63342/demo/templates/static/img/Vector.svg" alt="profile"></a>
    </div>
</header>
<div class="container">
    <h2>Profile</h2>
    <form id="userForm">
        <input type="text" id="username" name="username" placeholder="Username" th:value="${user.getUsername()}">
        <input type="email" id="email" name="email" placeholder="Email" th:value="${user.getEmail()}">
        <input type="tel" id="phone" name="phone" placeholder="Phone number" th:value="${user.getPhoneNumber()}">
        <input type="submit" value="Update">
        <input type="button" value="Delete Account">
    </form>
    <h2>Мои предметы</h2>
    <div class="items-container">
        <div th:each="item, itemStat : ${user.items}" class="item">
            <form th:id="'itemForm_' + ${itemStat.index}">
                <input type="hidden" th:id="'itemId_' + ${itemStat.index}" name="id" th:value="${item.id}" />
                <input type="text" th:id="'itemName_' + ${itemStat.index}" th:value="${item.name}" placeholder="Item Name"/>
                <input type="text" th:id="'itemDescription_' + ${itemStat.index}" name="description" th:value="${item.description}" placeholder="Description"/>
                <input type="text" th:id="'itemPrice_' + ${itemStat.index}" name="price" th:value="${item.price}" placeholder="Price"/>
                <input type="text" th:id="'itemCategory_' + ${itemStat.index}" name="category" th:value="${item.category}" placeholder="Category"/>
                <input type="text" th:id="'wantedItem_' + ${itemStat.index}" th:value="${item.wantedItem}" placeholder="Wanted item"/>
                <button type="button" th:onclick="'updateItem(' + ${itemStat.index} + ')'">Update</button>
                <button type="button" th:onclick="'deleteItem(' + ${itemStat.index} + ')'">Delete</button>
            </form>
        </div>
    </div>
    <script src="http://localhost:63342/demo/templates/js/userFunctions.js" th:inline="javascript"></script>
    <script src="http://localhost:63342/demo/templates/js/validator.js" th:inline="javascript"></script>
</div>
</body>
</html>